<!DOCTYPE html>
<html lang="id" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TA_Sekar_2111004</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style3.css')}}">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='site.webmanifest')}}">
  </head>
  <body>
    <div class="nav">
      <div class="logo">
        <a href="/">T.a_Sekar_Lucia_Ningrum_2111004</a>
      </div>
      <div class="links">
        <a href="{{url_for('tulisTandaTanganGet')}}">tulisTandaTangan</a>
        <a href="{{url_for('uploadGambarTandaTanganGet')}}">uploadGambar</a>
      </div>
    </div>

    <h1>uploadGambar</h1>
    <div class="hero">
      <div id="drop-area" style="{%if img_decode%}padding: 0.6em 0.6em 0 0.6em; background: tan;{%endif%}">
        {%if not img_decode%}
        <div id="img-view">
          <label for="input-file">
            <img src="{{url_for('static',filename='uploadIcon.png')}}" alt="uploadIcon.png">
          </label>
          <span>Upload_gambar_tanda_tangan</span>
        </div>
        {%else%}
        <div id="img-view2">
          <img src="data:image/jpeg;base64,{{img_decode}}" alt="uploadGambar" width="100%" height="100%">
        </div>
        {%endif%}
      </div>
      {%if not idDB%}
      <form action="/uploadGambarTandaTangan/" method="post" enctype="multipart/form-data">
        <input type="file" id="input-file" accept="image/jpg image/png image/jpeg" name="imageSignature" required>
        <button type="submit" id="button">upload</button>
      </form>
      {%else%}
      <button id="kenaliTandaTangan" onclick="showAlert('klasifikasiKNN . . .', '{{namaTable}}', '{{idDB}}')">autentikasiTandaTangan</button>
      {%endif%}
      <div id="alert"></div>
    </div>

    <div class="footer">
      <div class="links">
        <a href="#">Studi Kasus: Tanda Tangan Para Dosen Fakultas Teknik</a>
      </div>
      <div class="cta">
        <a href="#">Prodi Teknik Komputer USCND (2025)</a>
      </div>
    </div>
    <script src="{{url_for('static', filename='script3.js')}}"></script>
  </body>
</html>
