<!DOCTYPE html>
<html lang="id" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <!-- {{url_for('static', filename='style.css')}} -->
    <link rel="stylesheet" href="{{url_for('static', filename='style_index.css')}}" />
    <link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static',filename='favicon_io(tmi)/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static',filename='favicon_io(tmi)/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon_io(tmi)/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='favicon_io(tmi)/site.webmanifest')}}">

    <!-- HTML Meta Tags -->
    <title>Muhammad Tomi</title>
    <meta name="description" content="muhammadTomi_2011016" />
    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Muhammad Tomi" />
    <meta itemprop="description" content="muhammadTomi_2011016" />
    <meta itemprop="image" content="https://raw.githubusercontent.com/wandinulaqli/t2-dirumatad-TM/refs/heads/main/static/favicon_io(tmi)/android-chrome-512x512.png" />
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://wandinulaqli.github.io/t2-dirumatad-TM/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Muhammad Tomi" />
    <meta property="og:description" content="muhammadTomi_2011016" />
    <meta property="og:image" content="https://raw.githubusercontent.com/wandinulaqli/t2-dirumatad-TM/refs/heads/main/static/favicon_io(tmi)/android-chrome-512x512.png" />
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Muhammad Tomi" />
    <meta name="twitter:description" content="muhammadTomi_2011016" />
    <meta name="twitter:image" content="https://raw.githubusercontent.com/wandinulaqli/t2-dirumatad-TM/refs/heads/main/static/favicon_io(tmi)/android-chrome-512x512.png" />
    <!-- Meta Tags Generated via https://heymeta.com -->
  </head>
  <body>
    <form class="" action="" method="post" style="border-radius:10px; margin:auto;">
      <center>
        <h4>APLIKASI PREDIKSI<br>KELULUSAN SISWA BERPRESTASI<br>SMKN 1 PEUREULAK</h4>
        <img width="100px" height="100px" style="border-radius:5px; display: flex;" src="../static/profiles/tmi512x512.png">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for messages in messages %}
              {%if ttl == 'Admin'%}
              <h5 style="color:red;">{{ messages }}</h5>
              {%else%}
              <h5 style="color:blue;">{{ messages }}</h5>
              {%endif%}
            {% endfor %}
          {%else%}
            {%if ttl == 'Admin'%}
            <h5 style="color:red;">autentifikasi {{ttl}}</h5>
            {%else%}
            <h5 style="color:blue;">autentifikasi {{ttl}}</h5>
            {%endif%}
          {% endif %}
        {% endwith %}
      </center>

      <!-- Admin/Wali/Murid -->
      <br><br>
      <div class="group">
        <input type="text" name="usnm" autocomplete="off" required><span class="highlight"></span><span class="bar"></span>
        <label>Username</label>
      </div>
      <div class="group">
        <input type="password" name="pswd" autocomplete="off" required><span class="highlight"></span><span class="bar"></span>
        <label>Password</label>
      </div>
      <button type="submit" class="button buttonBlue">Masuk
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
      </button>
      <footer>
        <p>Muhammad Tomi <a href="#" target="_blank">2011016</a></p>
      </footer>
    </form>

    <!-- <footer> -->
      <!-- <a href="http://www.polymer-project.org/" target="_blank"></a> -->
      <!-- https://www.polymer-project.org/images/logos/p-logo.svg -->
      <!-- <img src="{{url_for('static', filename='android-chrome-512x512.png')}}"> -->
      <!-- http://www.polymer-project.org/ -->
      <!-- <p>Muhammad Tomi <a href="#" target="_blank">2011016</a></p> -->
    <!-- </footer> -->

    <script type="text/javascript" src="{{url_for('static', filename='script2.js')}}"></script>
  </body>
</html>
