<!DOCTYPE html>
<html lang="id" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='loading.css')}}">
    <!-- favicon_io -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='favicon_io/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon_io/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon_io/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='favicon_io/site.webmanifest')}}">
    <title>@putriamaMelatiSukma2111021</title>
  </head>
  <body>
    <h1>@putriamaMelatiSukma2111021</h1>
    <div class="wrapper">
      <div class="box-wrap">
        <div class="box one"></div>
        <div class="box two"></div>
        <div class="box three"></div>
        <div class="box four"></div>
        <div class="box five"></div>
        <div class="box six"></div>
      </div>
    </div>
    <script type="text/javascript">
      setTimeout(function(){
        location.replace('/sukma/');
      },5000);
    </script>
  </body>
</html>
