* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background: #f1f4fd; */
  background: radial-gradient(circle at 50% 100%, #fbf9f980 5%, #fbf9f9 5% 10%, #fbf9f980 10% 15%, #fbf9f9 15% 20%, #fbf9f980 20% 25%, #fbf9f9 25% 30%, #fbf9f980 30% 35%, #fbf9f9 35% 40%, transparent 40%), radial-gradient(circle at 100% 50%, #fbf9f980 5%, #fbf9f9 5% 10%, #fbf9f980 10% 15%, #fbf9f9 15% 20%, #fbf9f980 20% 25%, #fbf9f9 25% 30%, #fbf9f980 30% 35%, #fbf9f9 35% 40%, transparent 40%), radial-gradient(circle at 50% 0%, #fbf9f980 5%, #fbf9f9 5% 10%, #fbf9f980 10% 15%, #fbf9f9 15% 20%, #fbf9f980 20% 25%, #fbf9f9 25% 30%, #fbf9f980 30% 35%, #fbf9f9 35% 40%, transparent 40%), radial-gradient(circle at 0 50%, #fbf9f980 5%, #fbf9f9 5% 10%, #fbf9f980 10% 15%, #fbf9f9 15% 20%, #fbf9f980 20% 25%, #fbf9f9 25% 30%, #fbf9f980 30% 35%, #fbf9f9 35% 40%, transparent 40%);
        background-size: 6em 6em;
        background-color: #eae8e8;
        opacity: 1
}

.container {
  max-width: 1200px;
  width: 95%;
}

.slider-wrapper {
  position: relative;
}
.container form{
  text-align: center;
}

#tombolDownloadOutputImage.hidden{
  /* opacity: 0;
  visibility: hidden; */
  display: none;
}

.container form .button{
  font-family: cursive;
  display: inline-block;
  padding: 10px 5px;
  border-radius: 25px;
  color: #333;
  background: #fff;
  text-decoration: none;
  margin: 10px 0px;
  transition: all 0.3s ease;
  border: 2px solid #404040;
  max-width: 60%;
}
.container form .button:hover {
  color: #fff;
  background-color: #404040;
  cursor: pointer;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}

.slider-wrapper .slide-button#next-slide {
  right: -25px;
}

.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}

.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }

  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }

  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}
