@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://media.bio.site/sites/C1358A7E-4B66-4FF7-AB43-B8DBE99698F9/NMjxoRGnHPYYdAkV3zeETi.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #45433b;
}
.wrapper{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #eaeaea;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
  text-align: center;
}
.wrapper h2::before{
  content: '';
  position: absolute;
  left: 15%;
  bottom: 0;
  height: 3px;
  width: 70%;
  border-radius: 12px;
  background: #4070f4;
}
/* -------------------- */
.wrapper .ovalFace{
  border-radius: 170px 170px 200px 200px;
}
.wrapper .roundFace{
  border-radius: 200px;
}
.wrapper .squareFace{
  border-radius: 100px 100px 150px 150px;
}
.wrapper .triangleFace{
  border-radius: 100px 100px 200px 200px;
}
/* ---------------------- */

.wrapper form{
  margin-top: 30px;
}
.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}
form .input-box input,
form .input-box a{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 10px 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.input-box input:focus,
.input-box input:valid{
  border-color: #4070f4;
}
form .policy{
  display: flex;
  align-items: center;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input,
.input-box.button a{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #4070f4;
  cursor: pointer;
}
.input-box.button input:hover,
.input-box.button a:hover{
  background: #0e4bf1;
}

form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #4070f4;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}
