@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Lobster&family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Cedarville Cursive', sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* css gradient */
  background: #ed795c;
  background: radial-gradient(circle, rgba(237, 121, 92, 1) 0%, rgba(10, 10, 10, 1) 100%);
}

/* ==================navbar================== */
.nav, .footer{
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
.footer{
  position: absolute;
  bottom: 0;
}
.links{
  display: flex;
  gap: 2em;
}
a{
  text-decoration: none;
  color: #fff;
  font-family: 'Cedarville Cursive';
  pointer-events: auto;
  font-size: 1.5vw;
}
.logo a{
  font-family: "Cedarville Cursive";
  font-size: 1.5vw;
  /* text-transform: uppercase; */
}
/* ================closenavbar=============== */

h1{
  color: #fff;
  font-size: 8vh;
  top: 100vh;
  font-weight: 600;
  margin-bottom: 0.1em;
}

.flex-row{
  display: flex;
}
#wrapper{
  border: 1px solid tan;
  border-right: 0;
  border-radius: 0.5em 0 0 0.5em;
  padding: 0.5em;
}
canvas#signatur-pad{
  background: #fff;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}
button#clear{
  height: 100%;
  background: tan;
  border: 1px solid transparent;
  border-radius: 0 0.5em 0.5em 0;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
button#clear span{
  transform: rotate(90deg);
  display: block;
}
button#clear span:hover{
  font-family: cursive;
}
button#clear:active{
  background: #eaeaea;
}
button#kenaliTandaTangan{
  margin-top: 1%;
  font-size: 2.5vh;
  font-weight: bold;
  color: #fff;
  padding: 0.5% 5%;
  cursor: pointer;
  background: tan;
  border: 1px solid transparent;
  border-radius: 10px;
}
button#kenaliTandaTangan:hover{
  font-family: cursive;
}
button#kenaliTandaTangan:active{
  background: #eaeaea;
}
#alert{
  color: #fff;
  font-size: 3vh;
  font-weight: 600;
}
