@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Lobster&family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection{
  color: #fff;
  background: transparent;
}
html,
body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: tan;
}
canvas{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.container{
  position: relative;
  z-index: 1;
  pointer-events: none;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.site-content,{
  position: absolute;
}
.nav, .footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
.footer{
  position: absolute;
  bottom: 0;
}
.links{
  display: flex;
  gap: 2em;
}
a{
  text-decoration: none;
  color: #fff;
  font-family: "Cedarville Cursive";
  pointer-events: auto;
  font-size: 1.5vw;
}
.logo a{
  font-family: "Cedarville Cursive";
  font-size: 1.5vw;
  /* text-transform: uppercase; */
}
.hero-copy{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.hero-copy h1{
  font-size: 5vw;
  color: #fff;
  font-family: "Cedarville Cursive";
  /* text-transform: uppercase; */
  font-weight: 600;
}
.hero-copy p{
  font-size: 2vw;
  color: #fff;
  font-family: "Cedarville Cursive";
  margin-bottom: -1em;
}
#heroVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
