@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Lobster&family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Cedarville Cursive', cursive;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* css gradient */
  background: #ed795c;
  background: radial-gradient(circle, rgba(237, 121, 92, 1) 0%, rgba(10, 10, 10, 1) 100%);
}

/* ==================navbar================== */
.nav, .footer{
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
.footer{
  position: absolute;
  bottom: 0;
}
.links{
  display: flex;
  gap: 2em;
}
a{
  text-decoration: none;
  color: #fff;
  font-family: 'Cedarville Cursive';
  pointer-events: auto;
  font-size: 1.5vw;
}
.logo a{
  font-family: "Cedarville Cursive";
  font-size: 1.5vw;
  /* text-transform: uppercase; */
}
/* ================closenavbar=============== */

h1{
  color: #fff;
  font-size: 8vh;
  top: 100vh;
  font-weight: 600;
  margin-bottom: 0.1em;
}
.hero{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  border-radius: 0.3em;
}
#drop-area{
  width: 40%;
  height: 20%;
  text-align: center;
  background: #fff;
  border-radius: 1em;
  padding: 1em;
}
#img-view{
  width: 100%;
  height: 100%;
  border-radius: 1em;
  border: 3px dashed tan;
  background: #eaeaea;
}
#img-view img{
  height: 30%;
  width: 30%;
}
#img-view img:hover{
  height: 28%;
  width: 28%;
  cursor: pointer;
}
#img-view img:active{
  height: 25%;
  width: 25%;
}
#img-view span{
  display: block;
  font-size: 2.5vh;
  color: grey;
  margin-top: 0.5em;
}
input, button{
  color: white;
  border: 0.1em solid tan;
  background-color: transparent;
  border-radius: 1em;
  padding: 0.5em 2em;
  margin: 1em 0;
  font-size: 1.3vw;
  cursor: pointer;
}
input:hover{
  padding: 0.2em 2em;
}
button:hover{
  padding: 0.3em 2em;
}
input:active{
  background-color: grey;
  padding: 0.5em 1.5em;
}
button:active{
  background-color: grey;
  padding: 0.5em 1.5em;
}
button#kenaliTandaTangan:hover{
  padding: 0.5em 1.5em;
  font-family: cursive;
}
button#kenaliTandaTangan:active{
  background-color: grey;
}
#alert{
  color: #fff;
  font-size: 3vh;
  font-weight: 600;
}
